<div class="container text-center">
  <h1>Results</h1>
  <h2> <%= "Grid : #{params["grid"]}" %></h2>
  <h2> <%=  "Your word : #{params["guess"]}" %></h2>
  <h2> <%=  "Message : #{@result[:message]}" %></h2>
  <h2> <%=  "Your time : #{@result[:time]}" %></h2>
  <h2> <%=  "Your score : #{@result[:score]}" %></h2>
</div>
